*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

  
  .navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: green;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: green;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }

  .flex-container{
    display: flex;
    background-color: green
  }

  .flex-container > div {
    margin: 39px;
    padding: 39px;
    font-size: 39px;
  }


.container{
  display: flex;
  background-color: darkgreen;
  height: 24vw;
  align-items: center;
  justify-content: space-around;
  
} 
.container > div {
width: 50%;
}
h1 {
color:  white;
}
p {
color:  white;
}
.canvasfoto{
  width:270px; height: 100px;
}
.s2{
  float: left;
  background-color: green;
}

body.homepage {
  background-image: url("https://p0.nicelocal.co.nl/preview/IiBEIXyyfJvp-YDTd4pvug/1120x700x85/1/1/c/original_61585591f049f220dd5ea738_61596c0d9c49a.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.s3 {
  background-color: green;
  height: 13vw;
  justify-content: center;
}

header{
  position: sticky;
  top: 0px;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Opleidingswijzerfoto {
  width:325px; height: 217px;
}

.Locatiegidsfoto {
  width:325px; height: 217px;
}

.Begeleidingfoto {
  width:270px; height: 217px;
}

.Eduartefoto {
  width:325px; height: 217px;
}

.Softwarefoto {
  width:325px; height: 217px;
}

.Ouderavondfoto {
  width:325px; height: 217px;
}

.Examenplanfoto {
  width:325px; height: 217px;
}

.BSAfoto {
  width:325px; height: 217px;
}

.Studentenfoto {
  width:325px; height: 217px;
}

.hometext {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.inleiding {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
 
.kalender {
  justify-content: left;
}
.inbox {
  text-align: left;
}
.s4 {
  background-color: green;
}

.rooster {
  background-color:  green;
}

.inbox {
  justify-content: left;
}
.rooster {
  justify-content: left;
}
.roosterfoto {
justify-content: right;
}
.cijfer {
  background-color: green;
}
.aanwezigheid {
  background-color: green;
}
.textha {
  background-color: green;
}

.nick {
  position: relative;
  left: 0%;
  top: 50%;
}
.textnick {
  background-color: green;
}

.lorenzo {
  position: relative;
  left: 50%;
  bottom: 1253px;
}

.krav-maga {
  float: right;
  top: 60px;
}


.fotob {
  width:496px; height: 244.5px;
}

.klas {
  width:496px; height: 244.8px;
}


body.begeleiding {
  background-color: green;
}

.i {
  float: right;
}

.admin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.kantine {
  float: left;
}

.service {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.ziek {
  float: left;
}

.opening {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.les {
  float: right;
}

.bp {
  width:344px; height: 244.8px;
  float: right;
}

body.opleiding   {
  background-color: green;
}

.vsc {
  width:300px; height: 300px;
}




.container5 {
  display: flex;
  justify-content: center
}

.text5 {
  font-size: 20px;
  padding-left: 20px;

}

body.software   {
  background-color: green;
}
.examfoto {
  background-color: green;
}
.ouderfoto {
  background-color: green;
}
body.eduarte {
  background-color: green;
}